.div_1 {
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 130px;
    border: 130px;
}




.div_2 {
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    margin: 130px;
    border: 130px;
}



.div_3 {
    background-color: brown;
    width: 100px;
    height: 100px;
    margin: 130px;
    border: 130px;
}



.conteiner_1 {
    background-color: aquamarine;
    border: 50px;

}

.conteiner_2 {}

..conteiner_3 {}